
<head>

<style>
body{
  background-color: white;
}
#admin
{
 margin-top:20px;
 width:500px;
 height:550px;
 border:2px solid black;
 background-color:#91E0FF;

}

input
{
   width:150px;
   height:40px;
  border:1px  solid black;
  border-radius:4px;
}

input:hover
{
  background-color:black;
  color:white;
  border:1px  solid black;
  cursor:pointer;

}


</style>


</head>


<body bgcolor=#37C6FF>
<center>
<div id="admin">
<h1>Welcome To Admin Page</h1><br><br>

<form action="admin">
  <input type="submit" name="delete" value="Delete Account"><br><br>
  <input type="submit" name="newac" value="New Account"><br><br>
  <input type="submit" name="update" value="Update Account"><br><br>
  <input type="submit" name="block" value="Block Account"><br><br>
  <input type="submit" name="revert" value="Revert Transaction"><br><br>
  <input type="submit" name="changepass" value="Change Password"><br><br>
</form>
<form action="/">
  <button>Cancel</button>
</form>


</div>
</center>


</body>